.top-text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
body {
  background-color: #a2c5f2;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 80vh;
  color: #fec377;
}

.btn1 {
  width: 220px;
  height: 80px;
  font-size: 22px;
  padding: 15px 20px;
  border-radius: 25px;
  border: 2px solid rgb(0, 0, 0);
  text-align: center;
  font-family: "Impact", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;

  background: linear-gradient(45deg, #a6cbf3, #87c5e6);
  color: rgb(0, 0, 0);

  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.btn2 {
  width: 220px;
  height: 80px;
  font-size: 22px;
  padding: 15px 20px;
  border-radius: 25px;
  border: 2px solid rgb(0, 0, 0);
  text-align: center;
  font-family: "Impact", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;

  background: linear-gradient(45deg, #87c5e6, #a6cbf3);
  color: rgb(0, 0, 0);

  /* Skuggi */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.btn1:hover {
  background: linear-gradient(45deg, #87c5e6, #a6cbf3);
  transform: scale(1.1);
}
.btn2:hover {
  background: linear-gradient(45deg, #a6cbf3, #87c5e6);
  transform: scale(1.1);
}

.btn1:active,
.btn2:active {
  transform: scale(0.95);
}
#upload {
  display: none;
}

.postcardDEMO {
  color: white;
  font-size: 20px;
  font-weight: bold;
  z-index: 10; 
}
.postcardDEMO-D {
  width: 40vw;
  height: 40vh;
  border: 2px solid #000000;
  margin: 20px auto;
  position: relative;
  background-color: lightgray;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  margin-top: -200px;
}
a.continue-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-family: "Impact", sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 0);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  background: linear-gradient(45deg, #87c5e6, #a6cbf3);
}
a.continue-btn:hover {
  background: linear-gradient(45deg, #a6cbf3, #87c5e6);
  transform: scale(1.1);
}
