body{
  background-color: #b9efc6;
}
.text-boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.text-boxes label {
  display: inline-block;
  margin-right: 10px;
  color: #333;
  font-size: 25px;
  font-family: 'Impact', sans-serif;
  font-weight: bold;
  text-align: center;
}
.text-boxes input,
.text-boxes textarea {
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  border: 2px solid #333;
  border-radius: 10px;
}

.generate-btn {
  display: flex;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  border: 2px solid #333;
  text-align: center;
  font-family: 'Impact', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  background: linear-gradient(45deg, #95e387, #9feaa4);
}
.generate-btn:hover {
  background: linear-gradient(45deg,#9feaa4, #95e387); 
  transform: scale(1.1); 
}
.generate-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.postcardDIV {
  width: 1000px;
  height: 600px;
  border: 2px solid #000000;
  margin: 20px auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: lightgray;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}
.download-btndiv {
  display: flex;
  justify-content: center;
  align-items: baseline;

}
.download-btn {
  display: flex;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  border: 2px solid #000000;
  text-align: center;
  font-family: 'Impact', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  background: linear-gradient(45deg, #95e387, #9feaa4);
}
.download-btn:hover {
  background: linear-gradient(45deg,#9feaa4, #95e387); 
  transform: scale(1.1); 
}
.postcardText {
  font-family: 'Impact', sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  margin-left: 10px;
  max-width: 40%;
  position: relative; 
}

.toText {
  font-size: 24px; 
  margin-bottom: 5px; 
  color: #000000;
}

.fromText {
  font-size: 24px; 
  margin-bottom: 5px; 
  color: #000000;
}

.messageText {
  font-size: 18px; 
  word-wrap: break-word; 
  color: #000000;
}
.color-div{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.colorText{
  color: rgb(0, 0, 0);
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: 'Impact', sans-serif;
  font-weight: bold;
  margin: 20px;
}