.text-boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}
.text-boxes label {
  display: inline-block;
  margin-right: 10px;
  color: #333;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.text-boxes input,
.text-boxes textarea {
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  border: 2px solid #333;
  border-radius: 10px;
}

.generate-btn {
  display: flex;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  border-radius: 10px;
  border: 3px solid white;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  background: linear-gradient(45deg, #ff2d55, #ff8c00);
}
.generate-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.postcardDIV {
  width: 1000px;
  height: 600px;
  border: 1px solid #ccc;
  margin: 20px auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: lightgray;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}
.download-btndiv {
  display: flex;
  justify-content: center;
  align-items: baseline;

}
.download-btn {
  display: flex;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  border-radius: 10px;
  border: 3px solid white;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  background: linear-gradient(45deg, #ff2d55, #ff8c00);
}

.postcardText {
  color: antiquewhite;
  font-family: 'Impact', sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  margin-left: 10px;
  max-width: 40%;
  position: relative; /* Text inside container */
}

.toText {
  font-size: 24px; /* Adjust font size for the "To" text */
  margin-bottom: 5px; /* Keep a small gap between "To" and the next text */
}

.fromText {
  font-size: 24px; /* Adjust font size for the "From" text */
  margin-bottom: 5px; /* Keep a small gap between "From" and the next text */
}

.messageText {
  font-size: 18px; /* Adjust font size for the "Message" text */
  word-wrap: break-word; /* Make sure long messages wrap */
}