<!DOCTYPE html>
<link rel="stylesheet" href="{{url_for('static', filename='text.css')}}">
<script src="{{ url_for('static', filename='workPhoto.js') }}" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
<body>
    <div class="text-boxes">
        <label for="to-name">Til</Label>
        <input type="text" id="to-name"/>
        <label for="from-name">Frá</label>
        <input type="text" id="from-name">
        <label for="message">Skilaboð</label>
        <textarea type="text" id="message" ></textarea>
    </div>
    <div class="generate-div">
        <button class="generate-btn" onclick="generatePostcard()">Búa til</button>
    </div>
    <div class="color-div" id="color-div" style="display: none;">
        <div class="colorText">
        <label for="colorPicker" >Veldu lit á texta:</label>
        <input type="color" id="colorPicker" name="color" value="#000000">
        </div>
    </div>


    <div id="postcard" class="postcardDIV" style="display: none;">
        <div id="postcardText" class="postcardText">
            <p id="toText"></p>
            <p id="fromText"></p>
            <p id="messageText"></p>
        </div>
        
    </div>
    <div id="donwload-btn-id" class="download-btndiv" style="display: none">
        <button class="download-btn" onclick="downloadPostCard()">Sækja</button>
    </div>
</body>